@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.container {
  position: fixed;
  padding: 64px 46px;
  width: 420px;
  right: 0;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 6px 8px #31313142;
  height: 100%;
  top: 0;
  z-index: 99999;
  transition: 0.3s linear;
  animation: 0.4s modalop ease-out;
}

@keyframes modalop {
  from {
    right: -685px;
  }
  to {
    right: 0px;
  }
}

.container-inner {
  position: relative;
  width: 100%;
  height: 73%;
}

.tab {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px 65px 65px 92px 35px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.3s linear;
  box-sizing: border-box;
}

.tab-title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 20px;
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
  transition: 0.3s linear;
  box-sizing: border-box;
}

.tab-input__name,
.tab-input__phone {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 15px 12px;
  width: auto;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  grid-column: 1/3;
  transition: 0.3s linear;
  box-sizing: border-box;
}

.tab-footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 20px;
  grid-column: 1/3;
  text-align: center;
  transition: 0.3s linear;
  box-sizing: border-box;
}

.tab-button {
  left: 50%;
  transform: translateX(-50%);
  grid-column: 1/3;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 0.3s linear;
  box-sizing: border-box;
}

.tab-button__button {
  width: 70%;
  border-radius: 12px;
  background-color: #665eff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 18px 0;
  overflow: hidden;
  transform-origin: 50% 50%;
  transition: 0.3s linear;
  box-sizing: border-box;
}

/* ------------------------------------------------------------------ */

.tab-msg {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px 65px 65px 65px 92px 35px;
  grid-row-gap: 0px;
  grid-column-gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.3s linear;
  box-sizing: border-box;
}

.tab-input__name-msg {
  grid-column: 1/2;
  grid-row: 2;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-input__phone-msg {
  grid-column: 1/2;
  grid-row: 3;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-input__email-msg {
  grid-column: 1/2;
  grid-row: 4;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-input__text-msg {
  grid-column: 2/3;
  grid-row: 2/5;
  height: 93%;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-input__name-msg,
.tab-input__phone-msg,
.tab-input__email-msg,
.tab-input__text-msg {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 15px 12px;
  width: auto;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  transition: 0.3s linear;
}

/* ------------------------------------------------------------------ */

.tab-schedule {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px 65px 65px 92px 35px;
  grid-row-gap: 0px;
  grid-column-gap: 12px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-input__name-hour {
  grid-column: 1/2;
  grid-row: 2;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-input__phone-hour {
  grid-column: 2/3;
  grid-row: 2;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-input__hour {
  grid-column: 1/2;
  grid-row: 3;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-input__date {
  grid-column: 2/3;
  grid-row: 3;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-input__hour,
.tab-input__name-hour,
.tab-input__phone-hour,
.tab-input__date {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 15px 12px;
  width: auto;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  transition: 0.3s linear;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  transition: 0.3s linear;
}

option {
  text-align: center;
  box-sizing: border-box;
  transition: 0.3s linear;
}

/* ------------------------------------------------------------- */

.tab__whatsapp {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px 165px 65px 92px 35px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-whatsapp__textarea {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 12px;
  width: auto;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  grid-column: 1/3;
  grid-row: 2;
  height: 93%;
  box-sizing: border-box;
  transition: 0.3s linear;
}

.tab-button__button--a {
  width: 70%;
  border-radius: 12px;
  background-color: #665eff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 18px 0;
  overflow: hidden;
  transform-origin: 50% 50%;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.3s linear;
}

/* ----------------------------------------------------- */

.tabs-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: 0.3s linear;
  border-bottom: 1px solid #a7a7a787;
  padding-bottom: 20px;
}

.tab-item {
  margin: 0 20px;
  list-style: none;
  cursor: pointer;
  transition: 0.3s linear;
}

.tab-item p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #666;
}

/* ------------------------------------------------------- */

.phoneIcon-tab {
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(254, 30, 154, 0.3);
  background-image: linear-gradient(-135deg, #fe1e9a, #254dde);
  color: #fff;
  padding: 12px;
  cursor: pointer;
  font-size: 25px;
  display: inline-flex;
  height: 25px;
  margin: 0 auto;
  width: 25px;
  transition: 0.3s linear;
}

.phoneIcon-tab svg,
.clockIcon-tab svg,
.msgIcon-tab svg,
.whatsIcon-tab svg {
  filter: invert(1);
  z-index: 99;
  transition: 0.3s linear;
}

.clockIcon-tab {
  background-image: linear-gradient(214deg, #ff7b97, #9f2a2a);
  box-shadow: 0px 3px 6px #3131317d;
  color: #fff;
  padding: 12px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  display: inline-flex;
  height: 25px;
  margin: 0 auto;
  width: 25px;
  transition: 0.3s linear;
}

.msgIcon-tab {
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 255, 255, 0.3);
  background-image: linear-gradient(214deg, #00ffff, #254dde);
  color: #fff;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  width: 25px;
  transition: 0.3s linear;
}

.whatsIcon-tab {
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 255, 255, 0.3);
  background-image: linear-gradient(214deg, #2ed543, #1b8e2a);
  color: #fff;
  padding: 12px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  font-size: 20px;
  width: 25px;
  transition: 0.3s linear;
}

/* ------------------------------------------------------- */

.close-modal {
  background-color: #dbdada;
  position: absolute;
  padding: 8px;
  border-radius: 3px;
  top: 0;
  left: 0;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 16px;
  transition: 0.2s linear;
  cursor: pointer;
}

.close-modal:hover {
  background-color: #cc1618;
}

.close-modal p {
  color: #fff;
  font-family: sans-serif;
  font-size: 24px;
  padding: 0;
  margin: 0;
  transition: 0.3s linear;
}

.myicon {
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(254, 30, 154, 0.3);
  background-image: linear-gradient(-135deg, #fe1e9a, #254dde);
  padding: 24px;
  transform: scale(0.8);
  bottom: 18px;
  right: 19px;
  cursor: pointer;
  overflow: hidden;
  z-index: 99999;
  height: 36px;
  width: 36px;
  position: absolute;
  transition: 0.3s linear;
}

.myicon svg {
  position: absolute;
  filter: invert(1);
}

.sprite {
  display: flex;
  position: absolute;
  left: 75px;
  animation: 4s 0.25s iconsgg infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes iconsgg {
  0% {
    left: 75px;
  }
  20% {
    left: 1px;
  }
  40% {
    left: -81px;
  }
  60% {
    left: -157px;
  }
  80% {
    left: -251px;
  }
  100% {
    left: -310px;
  }
}

.master-icon {
  bottom: 18px;
  right: 15px;
  animation: 1s iconreveal cubic-bezier(0.68, -0.55, 0.27, 1.55);
  position: fixed;
  transform-origin: 50% 50%;
  transition: 0.3s linear;
  z-index: 99999;
}

@keyframes iconreveal {
  from {
    bottom: -85px;
  }
  to {
    bottom: 18px;
  }
}

.icon-pulse {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #254dde;
  border-radius: 100%;
  right: 35px;
  bottom: 35px;
  transform-origin: 50% 50%;
  animation: 1.2s infinite pulseicon cubic-bezier(0, 0, 0.22, 1.03);
  opacity: 1;
  animation-delay: 1s;
  transition: 0.3s linear;
}
@keyframes pulseicon {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.phone-icon-an {
  position: absolute;
  left: 26px;
}

.clock-icon-an {
  position: absolute;
  left: 102px;
}

.msg-icon-an {
  position: absolute;
  left: 178px;
}

.whats-icon-an {
  position: absolute;
  left: 274px;
}

/* --------------------------------------------------------- */
.success-img {
  width: 90px;
  position: relative;
}

.success-wrap {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.success-p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #69b296;
}

div.tab-schedule div.container-inner {
  position: absolute;
  top: 20%;
  text-align: center;
  left: 82px;
  width: 250px;
}
